[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"e1839a8" = {path = ".", editable = true}

[dev-packages]
mypy = "~= 0.57"
ptpython = "*"
yapf = "~= 0.21.0"
